@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f100;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #30363d;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #55555560;
}

/* Hide the scrollbar when the .no-scrollbar class is applied */
.no-scrollbar::-webkit-scrollbar {
  width: 0;
}

/* Optional: If you want to hide scrollbar on other browsers, you can use the following code */
.no-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer/Edge */
}

/* Optional: If you want to hide scrollbar on Firefox when the class is applied */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

a {
  color: rgb(109, 114, 180);
}
